html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  width: 100%;
  background: #fff;
  overflow-y: hidden;
}

body {
  padding: 10px;
  width: calc(100% - 20px);
}

.timeline {
  height: 500px;
  position: relative;
  overflow: hidden;
}

.year {
  width: 89px;
  height: 30px;
  border: 1px solid #ddd;
  display: inline-block;
}

.year:not(:last-child) {
  border-right: none;
}

.time {
  position: absolute;
  border-left: 3px solid;
  padding: 24px 0 0 4px;
  white-space: nowrap;
}

.time.bar {
 padding-top: 4px;
 border-top: 20px solid;
}

.time.noLeft {
  border-left: 0;
  padding-left: 0;
}

button {
  display: none;
}

button + label {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

label:before {
  margin-right: 4px;
  content: " ";
}

button + label,
label:before {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  width: 16px;
  height: 16px;
  text-indent: -99999px;
  background-image: url(../img/yearline.png);
  background-repeat: no-repeat;
}

label[for="home"] {
  background-position: 0px 0;
}

label[for="add"] {
  background-position: -16px 0;
}

label[for="source"] {
  background-position: -32px 0;
}

label[id="down"],
label[id="up"], {
  float: right;
}

label[id="down"]:before {
  background-position: -48px 0;
}

label[id="up"]:before {
  background-position: -64px 0;
}